.hero-wrapper {
  max-width: 100vw;
  text-align: left;
}

.hero-title {
  font-size: 2.5rem;
  color: #fff;
  margin-bottom: 20px;
}

.hero-description {
  max-width: 500px;
  font-size: 1.1rem;
  color: #e0e0e0;
  line-height: 1.2;
}
