a {
  text-decoration: none;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  max-width: 1820px;
  width: 100%;
  margin: 0 auto;
  z-index: 1000;
  background-color: #fff;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
}

.header-title {
  color: #333;
}

.header-nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}
.nav-item {
  font-weight: bold;
  color: #333;
}
.active-nav-item {
  font-weight: bold;
  color: #aa2121;
}

.header-nav ul li a:hover {
  color: #000;
}
