.card-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #cacacafa;
  width: 20%;
  border-radius: 50%;
  font-size: 1.3rem;
  color: #000000;
  border: none;
  padding: 5px;
  cursor: pointer;
}

.card-button:hover {
  background-color: #505050aa;
  color: #fff;
}
